@use '@angular/material' as mat;
@use 'sass:map';
@use '../custome-theme_theme-colors.scss' as custome;
// @import "gridstack/dist/gridstack.min.css";



$color-primary: #02BEC1;
$color-primary-alt: #04c0c3;
$color-dark: #192230;
$color-dark-alt: #202837;
$color-accent: #a44a5d;
$color-warning: #f0961b;

html {
  @include mat.theme((color: (theme-type: dark,
        primary: custome.$primary-palette,
        tertiary: custome.$tertiary-palette ),
      typography: Roboto,
      density: 0,
      customProperties: true));
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
